[submodule "services/iris/iris-messenger"]
	path = services/iris/iris-messenger
	url = https://github.com/irislib/iris-messenger
[submodule "services/gun"]
	path = services/gun
	url = https://github.com/amark/gun
[submodule "services/docker-pleroma"]
	path = services/docker-pleroma
	url = https://github.com/angristan/docker-pleroma
[submodule "services/balena-wireguard"]
	path = services/balena-wireguard
	url = https://github.com/klutchell/balena-wireguard
[submodule "services/element/element-web"]
	path = services/element/element-web
	url = https://github.com/vector-im/element-web
[submodule "services/tailoredflow"]
	path = services/tailoredflow
	url = https://github.com/Omodaka9375/tailoredflow
